@import "_BT_variables";

#_BT_AdGearURLInput, #_BT_AdGearURLButton, #_BT_AdGearPreviewContainer, #warning {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  color: $textColor;
}

#_BT_AdGearPreviewContainer {
  * {
    display: block;
    margin: auto;
  }
}

#_BT_AdGearURLButton{
    background-color: $primaryColor;
    border: 2px solid $primaryColor;
    color: $secondaryColor !important;
    width: 100%;
    padding: 5px;

    &:active {
      box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    }

    &:hover {
      cursor: pointer;
    }
}

#_BT_AdGearURLInput {
    height: 25px;
    width: 100%;
    text-align: center;
}

#warning {
  color: $warningTextColor;
}