$appWidth: 250px;

// $primaryColor: #2979FF;
// $primaryColor2: #2979FF;
$primaryColor: black;
$primaryColor2: black;
$secondaryColor: #FAFAFA;
$thirdColor: #9E9E9E;
// $textColor: black;

$headerColor: $primaryColor;
$backgroundColor: $secondaryColor;
$borderColor: $primaryColor;
$switchColor: $primaryColor;
$textColor: black;
$warningTextColor: #3F51B5;
$sliderColor: $thirdColor;
$sliderHandleColor:$primaryColor;
$sliderBorderColor: black;
$sliderBackgroundColor:#E0E0E0;
$sliderRangeColor: #BDBDBD;
$featureColor: $thirdColor;
$featureHoverColor: $primaryColor2;
$featureOnColor: $primaryColor;
$imgGalleryColor: $primaryColor2;
$rulerColor: #49fb35;
$spanColor: $secondaryColor;

//GOLD
// primaryColor: #212121;
// $secondaryColor: #FAFAFA;
// $thirdColor: #9E9E9E;
// $backgroundColor: #FFC107;

// HABS
// $primaryColor: #01579B;
// $secondaryColor: #B71C1C;
// $backgroundColor: #EFEFEF;

//RED
// $primaryColor: #F44336;
// $secondaryColor: #B71C1C;
// $backgroundColor: #EFEFEF;

//BLUE
// $primaryColor: #3F51B5;
// $secondaryColor: #1A237E;
// $backgroundColor: #EFEFEF;