@import "_BT_variables";

/* DOM Styles Manipulation */

._BT_expand {
  width: $appWidth !important;
}

._BT_featureOn {
  fill: $featureOnColor !important;
}

._BT_visible {
  visibility: visible !important;
}

._BT_opacity {
  opacity: 1 !important;
}

._BT_backgroundColor {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

._BT_marginTop {
  margin-top: 100px !important;
}

._BT_border {
  border: 1px dashed red !important;
}

._BT_selectedImgOverlay{
  opacity: 0.4 !important;
  border: 1px solid white !important;
}

._BT_warning {
  color: $warningTextColor !important;
}

._BT_display {
  display: block !important;
}